*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: 'lora-regular', sans-serif;
        height: 100vh;
        overflow-x: hidden;
        max-width: 480px;
        margin: 0 auto;
        /* background: #f8f7fa; */
        background: transparent;
}



#content {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
}

.splash{
    height: 154px;
    width: 184px;
    position: absolute;
    align-items: center;
    top:43%;
    left:27%;

}





